In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv("course.csv")
df.head()

,id,orientation,degree,cn,c_id
0,1,engineering,aerospace Engineering,Aircraft Stability and Control,1
1,2,engineering,aerospace Engineering,Introduction to Airplane performance,2
2,3,engineering,aerospace Engineering,Introduction to Airbreathing Propulsion,3
3,4,engineering,aerospace Engineering,Introduction to Aerospace Engineering-Flight,4
4,5,engineering,aerospace Engineering,Introduction to Aircraft Design,5

In [3]:
columns = ['orientation', 'degree', 'c_id', 'cn']
df.shape

(60, 5)

In [9]:
def combined_features(data):
  features = []
  for i in range(0, df.shape[0]):
    features.append(df['cn'][i] + ' ' + df['degree'][i] + ' ' + df['orientation'][i])

  return features

In [10]:
df.dtypes

id              int64
orientation    object
degree         object
cn             object
c_id            int64
dtype: object

In [11]:
df.head()

,id,orientation,degree,cn,c_id
0,1,engineering,aerospace Engineering,Aircraft Stability and Control,1
1,2,engineering,aerospace Engineering,Introduction to Airplane performance,2
2,3,engineering,aerospace Engineering,Introduction to Airbreathing Propulsion,3
3,4,engineering,aerospace Engineering,Introduction to Aerospace Engineering-Flight,4
4,5,engineering,aerospace Engineering,Introduction to Aircraft Design,5

In [12]:
#df = df.drop("Selling Price",axis = 'columns')

In [13]:
df.isnull().sum()

id             0
orientation    0
degree         0
cn             0
c_id           0
dtype: int64

In [14]:
df['combined_features'] = combined_features(df)

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

In [16]:
cm = vectorizer.fit_transform(df['combined_features'])

In [17]:
cs = cosine_similarity(cm)

In [18]:
degree = df['degree'][9]
degree

'agricultural Engineering'

In [24]:
df[df.degree == degree]

,id,orientation,degree,cn,c_id,combined_features
6,7,engineering,agricultural Engineering,Dairy And Food Process And Products Technology,7,Dairy And Food Process And Products Technology...
7,8,engineering,agricultural Engineering,Farm Machinery,8,Farm Machinery agricultural Engineering engine...
8,9,engineering,agricultural Engineering,Fundamentals Of Food Process Engineering,9,Fundamentals Of Food Process Engineering agric...
9,10,engineering,agricultural Engineering,Organic Farming For Sustainable Agricultural P...,10,Organic Farming For Sustainable Agricultural P...
10,11,engineering,agricultural Engineering,Natural Resources Management,11,Natural Resources Management agricultural Engi...
11,12,engineering,agricultural Engineering,Micro Irrigation Engineering,12,Micro Irrigation Engineering agricultural Engi...

In [19]:
c_id = df[df.degree == degree]['c_id'].values[0]
c_id

7

In [20]:
scores = list(enumerate(cs[c_id]))
#scores

In [21]:
sorted_scores = sorted(scores, key = lambda x:x[1], reverse = True)
sorted_scores = sorted_scores[1:]
#sorted_scores

In [22]:
df.head()

,id,orientation,degree,cn,c_id,combined_features
0,1,engineering,aerospace Engineering,Aircraft Stability and Control,1,Aircraft Stability and Control aerospace Engin...
1,2,engineering,aerospace Engineering,Introduction to Airplane performance,2,Introduction to Airplane performance aerospace...
2,3,engineering,aerospace Engineering,Introduction to Airbreathing Propulsion,3,Introduction to Airbreathing Propulsion aerosp...
3,4,engineering,aerospace Engineering,Introduction to Aerospace Engineering-Flight,4,Introduction to Aerospace Engineering-Flight a...
4,5,engineering,aerospace Engineering,Introduction to Aircraft Design,5,Introduction to Aircraft Design aerospace Engi...

In [25]:
j = 0
print("The recommended courses are:")
for i in sorted_scores:
  cn = df[df.c_id == i[0]]['cn'].values[0]
  print(j+1, cn)
  j = j+1
  if j >= 5:
    break

The recommended courses are:
1 Natural Resources Management
2 Farm Machinery
3 Fundamentals Of Food Process Engineering
4 Organic Farming For Sustainable Agricultural Production
5 Design of fixed wing Unmanned Aerial Vehicles

In [300]:
#df[df.degree == degree]['cn']